.panel-group .panel-heading {
    background-color: #589ffc;
}
.permissionTab .panel-title{
    color: #ffffff;
}
.permissionTab  .panel-group .panel-title:focus, .permissionTab  .panel-group .panel-title:hover {
    color: #ffffff;
}
label{
    color:#37474f;
}
.ui-state-default {
    border: 1px solid !important;
    margin: 5px;
}
