  /* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #303030;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #d25555;
  text-decoration: none;
}

/* -------------------------------- 

Slideshow 

-------------------------------- */
.cd-slideshow-wrapper {
  overflow: hidden;
}
@media only screen and (min-width: 1100px) {
  .cd-slideshow-wrapper {
    height: 100vh;
  }
}

.cd-slideshow {
  position: relative;
}
.cd-slideshow::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-slideshow .sub-slides {
  width: 100%;
  /* Force Hardware acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-slideshow .sub-slides::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slideshow > li, .cd-slideshow .sub-slides > li {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
.cd-slideshow > li::after, .cd-slideshow .sub-slides > li::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slideshow .sub-slides > li {
  float: left;
}
.cd-slideshow .slider-dots {
  /* 
  	dots visible on mobile when a slide has sub-slides
  	you won't see this element in the html - created using jQuery
  */
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 0;
  width: 100vw;
  text-align: center;
}
.cd-slideshow .slider-dots li {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-slideshow .slider-dots li.active {
  background-color: #ffffff;
}
.cd-slideshow .slider-dots li:last-of-type {
  margin-right: 0;
}
.cd-slideshow.remove-transitions {
  /* 
  	remove transition on transforms 
  	used to switch form a slide to another from the main navigation
  */
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}
.cd-slideshow.remove-transitions .sub-slides {
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}
@media only screen and (min-width: 1100px) {
  .cd-slideshow {
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
  }
  .cd-slideshow::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-slideshow .sub-slides {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }
  .cd-slideshow > li, .cd-slideshow .sub-slides > li {
    height: auto;
    width: auto;
  }
  .cd-slideshow .slider-dots {
    opacity: 0;
    visibility: hidden;
  }
}

/* -------------------------------- 

Slide Content

-------------------------------- */
.cd-slider-content {
  position: relative;
  height: 100vh;
  width: 100vw;
  float: left;
  display: table;
}
.cd-slider-content .content-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #d25555;
}
.cd-slideshow > li:nth-of-type(1) .cd-slider-content .content-wrapper {
  background: #d25555;
}
.cd-slideshow > li:nth-of-type(2) .cd-slider-content .content-wrapper {
  background: #2b3158;
}
.cd-slideshow > li:nth-of-type(3) .cd-slider-content .content-wrapper {
  background: #56b456;
}
.cd-slideshow > li:nth-of-type(4) .cd-slider-content .content-wrapper {
  background: #52bccf;
}
.cd-slideshow > li:nth-of-type(5) .cd-slider-content .content-wrapper {
  background: #df8a2f;
}
.cd-slideshow > li:nth-of-type(6) .cd-slider-content .content-wrapper {
  background: #c14fce;
}
.cd-slider-content h2 {
  font-size: 3rem;
  color: #ffffff;
}
.cd-slider-content p {
  margin: 1em 0 2em;
  opacity: .6;
}
@media only screen and (min-width: 1100px) {
  .cd-slider-content {
    height: 84vh;
    width: 90vw;
    margin: 2vh 5vw;
    border-radius: 10px;
    cursor: pointer;
  }
  .visible .sub-visible .cd-slider-content, .visible > .cd-slider-content {
    /* visible slide */
    cursor: auto;
  }
  .cd-slideshow > li:first-of-type .cd-slider-content {
    margin-top: 8vh;
  }
  .sub-slides > li:first-of-type .cd-slider-content {
    margin-left: 5vw;
  }
  .sub-slides > li .cd-slider-content {
    margin-left: 1.25vw;
    margin-right: 1.25vw;
  }
  .cd-slider-content .content-wrapper {
    height: 100%;
    /* hide the slide content if the slide is not selected/visible */
    opacity: 0;
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.15);
    border-radius: inherit;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .cd-slider-content::after {
    /* this is used to change the slide background color when the slide is out of focus */
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: #3a3a3a;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.6s, visibility 0.6s;
    -moz-transition: opacity 0.6s, visibility 0.6s;
    transition: opacity 0.6s, visibility 0.6s;
  }
  .visible .cd-slider-content .content-wrapper {
    opacity: 1;
  }
  .visible .cd-slider-content::after {
    opacity: 0;
    visibility: hidden;
  }
  .cd-slider-content h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  .cd-slider-content p {
    font-weight: bold;
  }
}

/* -------------------------------- 

Slideshow Navigation

-------------------------------- */
.cd-slideshow-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}
.cd-slideshow-nav .cd-nav-items {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #171717;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-slideshow-nav .cd-nav-items > ol {
  height: 100%;
  overflow: auto;
  padding: 80px 20px 80px 30px;
}
.cd-slideshow-nav ol ol {
  padding-left: 1em;
}
.cd-slideshow-nav a {
  color: #ffffff;
  display: inline-block;
  margin-bottom: .8em;
}
.cd-slideshow-nav a:before {
  /* list bullets */
  position: relative;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #6e6e6e;
  border-radius: 50%;
  margin-right: .4em;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.cd-slideshow-nav.nav-open .cd-nav-items {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-slideshow-nav.nav-open .cd-nav-items > ol {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 1100px) {
  .cd-slideshow-nav .cd-nav-items > ol {
    padding: 14vh 6vw;
  }
  .cd-slideshow-nav ol ol {
    padding-left: 3em;
  }
  .cd-slideshow-nav a {
    font-weight: bold;
    color: #595959;
    font-size: 4rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .cd-slideshow-nav a:before {
    /* list bullets */
    width: 24px;
    height: 24px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .no-touch .cd-slideshow-nav a:hover {
    color: #ffffff;
  }
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(1) a:hover::before,
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(1) li a:hover::before {
    background: #d25555;
  }
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(2) a:hover::before,
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(2) li a:hover::before {
    background: #2b3158;
  }
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(3) a:hover::before,
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(3) li a:hover::before {
    background: #56b456;
  }
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(4) a:hover::before,
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(4) li a:hover::before {
    background: #52bccf;
  }
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(5) a:hover::before,
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(5) li a:hover::before {
    background: #df8a2f;
  }
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(6) a:hover::before,
  .cd-slideshow-nav .cd-nav-items > ol > li:nth-of-type(6) li a:hover::before {
    background: #c14fce;
  }
}

.cd-nav-trigger {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  /* replace text with image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* used to create the menu icon */
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #ffffff;
}
.cd-nav-trigger span {
  /* menu icon middle line */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger span::before {
  /* menu icon middle top line */
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  /* menu icon middle bottom line */
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.nav-open .cd-nav-trigger span {
  background-color: transparent;
}
.nav-open .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-open .cd-nav-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1100px) {
  .cd-nav-trigger {
    height: 48px;
    width: 48px;
    left: calc(2.5vw - 24px);
    top: calc(4vh - 24px);
  }
}

/* -------------------------------- 

no-js

-------------------------------- */
.no-js .cd-slideshow-wrapper {
  overflow: visible;
  height: auto;
}

.no-js .cd-slideshow > li,
.no-js .cd-slideshow .sub-slides > li {
  height: auto;
  width: 100vw;
  margin: 0;
}

.no-js .cd-slider-content {
  margin: 0;
  height: 100vh;
  width: 100%;
  border-radius: 0;
}

.no-js .cd-slideshow > li:first-of-type .cd-slider-content,
.no-js .sub-slides > li:first-of-type .cd-slider-content,
.no-js .sub-slides > li .cd-slider-content {
  margin: 0;
}

.no-js .cd-slider-content .content-wrapper {
  opacity: 1;
  box-shadow: none;
}

.no-js .cd-slider-content::after {
  opacity: 0;
  visibility: hidden;
}

.no-js .cd-nav-trigger {
  display: none;
}

.no-js .cd-slideshow-nav {
  position: static;
}

.no-js #icon-keyboard {
  display: none;
}

.no-js .cd-slideshow-nav .cd-nav-items {
  position: static;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.no-js .cd-slideshow-nav .cd-nav-items {
  height: auto;
}

.no-js .sub-nav {
  display: none;
}
