#profile_image{
	width:170px !important;
	height:170px !important;
}
#cover_image{
	height:350px !important;
}
.sidebar .widget .active i{
	color: #088dcd;
}
.sidebar .widget .active a{
	color: #088dcd;
}
.pt-5{
	padding-top:5px;
}
.pt-10{
	padding-top:10px;
}
.pt-15{
	padding-top:15px;
}
.pt-20{
	padding-top:20px;
}
.pt-25{
	padding-top:25px;
}
.pt-30{
	padding-top:30px;
}
.pb-5{
	padding-bottom:5px !important;
}
.pb-10{
	padding-bottom:10px !important;
}
.pb-15{
	padding-bottom:15px !important;
}
.pb-20{
	padding-bottom:20px !important;
}
.pb-25{
	padding-bottom:25px !important;
}
.pb-30{
	padding-bottom:30px !important;
}
.white{
	color:#ffffff !important;
}
.mr-5{
	margin-right: 5px !important;
}
.mr-10{
	margin-right: 10px !important;
}
.mr-15{
	margin-right: 15px !important;
}
.mr-20{
	margin-right: 20px !important;
}
.mr-25{
	margin-right: 25px !important;
}
.mr-30{
	margin-right: 30px !important;
}

.mt-5{
	margin-top: 5px !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mt-15{
	margin-top: 15px !important;
}
.mt-20{
	margin-top: 20px !important;
}
.mt-25{
	margin-top: 25px !important;
}
.mt-30{
	margin-top: 30px !important;
}

.mb-0{
	margin-bottom: 0px !important;
}
.mb-5{
	margin-bottom: 5px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-15{
	margin-bottom: 15px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-25{
	margin-bottom: 25px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
select{
	display: block !important;
	color:#82898e !important;
	border-bottom: 1px solid #ced4da !important;
}
.extra-activities{
	font-weight: normal !important;
	font-size: 13px !important;
	color: #6b6b6b !important;
}
.editing-interest form ol.interest-ol{
	margin-top: 0px !important;
	display: inline-flex;
}
.editing-interest form.interest-form{
	margin-top: 0px !important;
}
.editing-interest form ol > li.interest-li{
	margin-right: 15px;
	width: auto;
}
.comment_box{
	background: #ecebeb none repeat scroll 0 0;
    border-color: transparent;
    border-radius: 3px;
    color: #696969;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.we-repl{
	cursor: pointer;
	color:#007bff !important;
}
.dropdown-ctm:after{
	display: none !important;
}
em{
	border: 1px solid #cecece;
    display: inline-block;
    line-height: 8px;
    margin-left: 3px;
    padding: 5px;
    float: right;
    margin-top: 5px;
}
.widget-profile img{
	margin: auto;
    display: flex;
    margin-top: 30px;
    border-radius: 100%;
    width: 40%;
}
.widget-profile .page-meta{
	display: table-cell;
	text-align: center;
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
}
.load-more{
	margin: 0px auto 0 !important;
}
#profile_type{
	display:block !important;
}
.ui-menu .ui-menu-item{
	padding: 5px;
    border-bottom: 1px solid #ccc;
}